/* variables */
:root {
    --color-body: #000000;
    --color-aside: #212121;
    --color-font:#fff;
    --font-main: "Roboto" ,'Noto Sans KR', sans-serif;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 모든 길이 100%, 모든 높이 100% */
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--color-body);
    font-family: var(--font-main);
    color: var(--color-font);  
    font-size: 13px;
}

/* header 높이 설정 */
header {
    height: 56px;    
    background-color: #212121;
}
/* main 기본 layout */
main {
    padding: 15px;    
    width: 100%;
}

/* 헤더 밑에 내용 */
.page-container {
    display: flex;
    height: 100%;    
}

/* 목록 */
ul {
    list-style: none;
}

/* 버튼*/
button {
    color: var(--color-font);
}

/* 625px 미만 사이드바 눌렀을 시 */
aside.mobile-open {
    position: fixed;
    z-index: 10;;        
}

/* 에러 발생시 다시 시도 버튼  */
.error__retry-btn {
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px;
}

/* 벨 효과 */
@keyframes bell-swing {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(15deg); }
    20% { transform: rotate(-15deg); }
    30% { transform: rotate(12deg); }
    40% { transform: rotate(-12deg); }
    50% { transform: rotate(8deg); }
    60% { transform: rotate(-8deg); }
    70% { transform: rotate(4deg); }
    80% { transform: rotate(-4deg); }
    90% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

/* 벨 애니메이션 */
.common__bell--shake {
    animation: bell-swing 1s ease forwards;
    transform-origin: top center;
}