.sidebar{
  width: 190px;
}

/*목차 별 제목 */
.title {  
  font-weight: bold;
  color: #aaa;  
  padding: 12px 0 0 1em;
}

/* 사이드바 내용 */
.sidebar a{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
/* 사이드바 구독자 아래 화살표, 아이콘 */
.sidebar a svg,
.sidebar details summary {  
  width: 36px;
  height: 24px;  
  padding: 0 0 0 1em;  
}
/* 사이드바 구독자 */
.sidebar a img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 0 0 1em;
  border-radius: 50%;
  object-fit: cover;
}

/* 각 목차별 밑줄 */
.sidebar li:last-child {
  border-bottom: 1px solid #303030;
}

.sidebar details {
  border-bottom: 1px solid #303030;
}

.sidebar a:hover {
  background-color: #3c3c3c;
}

/* 사이드바 구독자 아래 화살표 */
details summary {
  list-style: none; /* 기본 디폴트 아이콘 제거 */
}