.right-content {
  flex: 1;
  min-width: 0;
}
/* 전체 카드 영역 */
.card-container {
  margin-top: 50px;  
  display: grid;
  grid-template-columns: repeat(4,minmax(240px,1fr));
  overflow: hidden;
  gap: 20px;
  justify-content: flex-start;  
}
/* 카드 영역 */
.card {  
  max-width: 100%;
  aspect-ratio: 4 / 3;  
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}
.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 5%;
}

/* 내용 칸 layout */
.card-content {
  display: flex;
  flex: 1;
  gap: 10px;
  object-fit: cover;
}

/* 카드 프로필 layout */
.card-title {
  writing-mode: vertical-rl;
  padding: 12px 26px 12px 0;
  width: auto;
  white-space: nowrap;
}
/* 카드 내용 layout*/
.card-description {
  display: flex;
  flex: 1;
  flex-direction: column;  
}

/* 카드 제목 */
.card-text1 {
  padding-top: 12px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}
/* 카드 주인 */
.card-text2 {
  color: #aaaaaa;
  text-align: left;
}

/* 카드 조회수 , 업로드 날짜 */
.card-text3 {
  color: #aaaaaa;
  text-align: left;
}

@media (max-width: 1315px) {
  .card-container{
    grid-template-columns: repeat(3,minmax(240px,1fr));
  }
}

@media (max-width: 700px) {
  .card-container{
    grid-template-columns: repeat(2,minmax(240px,1fr));
  }
}

@media (max-width: 500px) {
  .card-container{
    grid-template-columns: repeat(1,minmax(240px,1fr));
  }  
}