.sidebar li {
  gap: 12px;
}

.sidebar {
  position: fixed;
  height: 100%;
  font-size: 14px;
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar a:link,
.sidebar a:visited {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.sidebar a svg,
.sidebar details summary {
  /* width: 24px; */
  height: 24px;
  flex-shrink: 0;
  padding: 0 0 0 1em;
}
.sidebar details summary {
  width: 36px;
}

.sidebar a img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0 0 0 1em;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar li:last-child {
  border-bottom: 1px solid #303030;
}

.sidebar details {
  border-bottom: 1px solid #303030;
}

.sidebar a:hover {
  background-color: #3c3c3c;
}

details summary {
  list-style: none; /* 기본 디폴트 아이콘 제거 */
}

.title {
  text-align: left;
  font-weight: bold;
  color: #aaa;
  text-decoration: none;
  padding: 12px 0 0 1em;
}
