/* 채널페이지 올시 aside 넓이 조절*/
.sidebar {
    width: auto !important;
}







@media (max-width: 1285px) {
    /* fixed 된 포지션 원래대로 돌리기위함 */
    .sidebar{
        position: static !important;
    }
}
@media (max-width: 625px) {
    aside {
        display: none;
    }
    .sidebar {
        display: none;
    }
}