/* 채널 Title layout */
.channel-header {
  background-color: #181818;  
  padding-bottom: 10px;  
}

/* 채널 Title 이미지*/
.banner-img {
  width: 100%;  
  object-fit: cover;
  display: block;
}
/* 채널 주인 정보 */
.channel-info {
  display: flex;  
  padding: 20px 65px;
  gap: 20px;
}
/* 채널 주인 프로필 */
.profile-img {
  width: 100px;  
  border-radius: 50%;  
}

/* 채널 주인 정보 layout*/
.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 채널 이름 */
.channel-name {
  font-size: 24px;
  font-weight: bold;
}

/* 구독자 수*/
.subscribers {  
  color: gray;
}

/* 구독자 버튼 */
.subscribe-btn {
  color: black;
  border: none;
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;  
  align-self: center;
}

.subscribe-btn:hover {
  background-color: #d9d9d9;
}

.subscribe-btn:active {
  transform: scale(0.96);
}

/* 채널 정보 목차 */
.channel-nav ul {
  display: flex;
  flex-direction: row; 
  width: 100%;
  align-items: center;
  padding: 0 65px;  
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;  
}

/* 채널 정보 목차 버튼 */
.nav-btn {
  background: none;
  border: none;  
  padding: 16px;
  cursor: pointer;  
}

.nav-btn:hover {
  color: #aaa;
}

/* 돋보기 버튼 */
.search-btn {  
  border: none;  
  cursor: pointer;
  display: flex;  
}
/* 돋보기 이미지 */
.search-icon {
  width: 46px;
  height: 40px; 
}
/* 875px 이하일때 */
@media (max-width: 875px) {
  .channel-nav ul{    
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0 65px;
    list-style: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 0;
  }  
}